@import url("../config/main-colors.css");

.Chat {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
  width: 35%;
  height: 80%;
  min-height: 475px;
  border: 1px solid var(--main-color);
  background-color: #fff;
}

.Chat__Topbar {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 12px;
  background-color: var(--main-color);
  color: #fff;
}

.Chat__SelectButton {
  padding: 4px 8px;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  border: none;
  letter-spacing: 1px;
}

.Chat__SelectOption {
  padding: 4px 8px;
  border: none;
  outline: none;
}

.Chat__RefreshIcon {
  margin-left: auto;
  font-size: 24px;
  cursor: pointer;
}

.Chat__Messages {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 25px;
  background-color: var(--box-background);
  overflow: auto;
}

.Chat__BottomPanel {
  display: flex;
  align-items: center;

  height: 65px;
}

.Chat__Input {
  width: 85%;
  height: 100%;
  border-radius: 0;
}

.Chat__BottomPanelIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.Chat__EmojiIcon {
  margin-right: 10px;
  cursor: pointer;
}

.Chat__EmojiIcon:hover {
  transform: scale(1.15);
}

.Chat__EmojiIcon_disabled {
  margin-right: 10px;
  color: #999;
  cursor: default;
  pointer-events: none;
}

.Chat__EmojiPicker {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 100;
}

.Hidden {
  display: none;
}

.Chat__PreviewFileBox {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 100;
}

.Chat__PreviewFileCancelBtn {
  position: absolute;
  top: -30px;
  right: -30px;
  font-size: 25px;
  color: red;
  cursor: pointer;
}

.Chat__PreviewFileCancelBtn:hover {
  transform: scale(1.15);
}

.Chat__PreviewFile {
  max-width: 300px;
  max-height: 200px;
}

.Chat__ImageIcon {
  margin: 0;
  cursor: pointer;
}

.Chat__ImageIcon:hover {
  transform: scale(1.15);
}

.Chat__SendButton {
  width: 15%;
  height: 100%;
  border-radius: 0;
}

.Chat__OnlineUsers {
  position: absolute;
  top: 0;
  right: -325px;
  width: 275px;
  height: 47.5%;
}

.Chat__Notifications {
  position: absolute;
  top: 50%;
  right: -325px;
  width: 275px;
  height: 50%;
}

input[type="file"] {
  display: none;
}

.Chat__PrivateChatWindow {
  position: absolute;
  left: -200px;
  top: 0;
}

@media (max-width: 1600px) {
  .Chat {
    margin-right: 10%;
  }
}

@media (max-width: 1280px) {
  .Chat {
    width: 43%;
  }

  .Chat__OnlineUsers {
    right: -275px;
    width: 225px;
  }

  .Chat__Notifications {
    right: -275px;
    width: 225px;
  }
}

@media (max-width: 1000px) {
  .Chat {
    width: 50%;
    margin-right: 25%;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .Chat {
    width: 50%;
  }
}

@media (max-width: 896px) and (orientation: landscape) {
  .Chat {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .Chat__OnlineUsers {
    display: none;
  }

  .Chat__Notifications {
    display: none;
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  .Chat {
    width: 100vw;
    height: 100%;
    margin: 0;
  }

  .Chat__OnlineUsers {
    display: none;
  }

  .Chat__Notifications {
    display: none;
  }

  .Chat__Topbar {
    height: 75px;
  }

  .Chat__SelectButton {
    font-size: 25px;
  }

  .Chat__DropdownItem {
    font-size: 20px;
  }

  .Chat__RefreshIcon {
    font-size: 30px;
  }

  .Chat__BottomPanel {
    height: 85px;
  }

  .Chat__Input {
    font-size: 20px;
  }

  .Chat__BottomPanelIcons {
    padding: 0 20px;
  }

  .Chat__EmojiIcon {
    font-size: 24px;
    margin-right: 15px;
  }

  .Chat__ImageIcon {
    font-size: 24px;
  }

  .Chat__SendButton {
    width: 20%;
    font-size: 22px;
  }
}

@media (max-width: 414px) and (orientation: portrait) {
  .Chat__Topbar {
    height: 55px;
  }

  .Chat__SelectButton {
    font-size: 20px;
  }

  .Chat__DropdownItem {
    font-size: 16px;
  }

  .Chat__RefreshIcon {
    font-size: 24px;
  }

  .Chat__BottomPanel {
    height: 55px;
  }

  .Chat__Input {
    font-size: 15px;
  }

  .Chat__BottomPanelIcons {
    padding: 0 12px;
  }

  .Chat__EmojiIcon {
    font-size: 18px;
    margin-right: 10px;
  }

  .Chat__ImageIcon {
    font-size: 18px;
  }

  .Chat__SendButton {
    width: 25%;
    font-size: 18px;
  }
}
