.Message_My {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: auto;
  padding: 8px;
  background-color: #bda;
  word-break: break-all;
  margin-bottom: 3px;
}

.Message_Received {
  display: flex;
  align-items: center;
  width: 60%;
  margin-right: auto;
  padding: 8px;
  background-color: #abd;
  word-wrap: break-word;
  margin-bottom: 3px;
}

.Message__Username {
  align-self: flex-start;
  font-weight: 700;
  margin-right: 8px;
  white-space: nowrap;
}

.Message__Content {
  font-size: 14px;
  word-break: break-all;
  word-wrap: break-word;
}
