.Chat {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
  width: 35%;
  height: 80%;
  border: 1px solid #8179cc;
  background-color: #fff;
}

.Chat__Topbar {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 12px;
  background-color: #8179cc;
  color: #fff;
}

.Chat__Username {
  font-size: 18px;
}

.Chat__RefreshIcon {
  margin-left: auto;
  font-size: 24px;
  cursor: pointer;
}

.Chat__Messages {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 25px;
  background-color: #ddd;
  overflow: auto;
}

.Chat__BottomPanel {
  display: flex;
  align-items: center;

  height: 65px;
}

.Chat__Input {
  width: 85%;
  height: 100%;
  border-radius: 0;
}

.Chat__BottomPanelIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.Chat__EmojiIcon {
  margin-right: 10px;
  cursor: pointer;
}

.Chat__EmojiIcon:hover {
  transform: scale(1.15);
}

.Chat__EmojiPicker {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 100;
}

.Hidden {
  display: none;
}

.Chat__PreviewFileBox {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 100;
}

.Chat__PreviewFileCancelBtn {
  position: absolute;
  top: -30px;
  right: -30px;
  font-size: 25px;
  color: red;
  cursor: pointer;
}

.Chat__PreviewFileCancelBtn:hover {
  transform: scale(1.15);
}

.Chat__PreviewFile {
  max-width: 300px;
  max-height: 450px;
}

.Chat__ImageIcon {
  margin: 0;
  cursor: pointer;
}

.Chat__ImageIcon:hover {
  transform: scale(1.15);
}

.Chat__SendButton {
  width: 15%;
  height: 100%;
  border-radius: 0;
}

.Chat__OnlineUsers {
  position: absolute;
  top: 0;
  right: -325px;
  width: 275px;
  height: 47.5%;
}

.Chat__Notifications {
  position: absolute;
  top: 50%;
  right: -325px;
  width: 275px;
  height: 50%;
}

input[type="file"] {
  display: none;
}
