.Message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 80%;
  margin-left: auto;
  box-sizing: border-box;
  padding: 8px 16px 8px;
  border-radius: 5px;
  background-color: #bda;
  word-break: break-all;
  margin-bottom: 16px;
  z-index: 100;
  cursor: pointer;
}

.Message:hover,
.Message:hover .Message__Arrow {
  background-color: rgb(154, 216, 123);
}

.Message__Content_Text {
  margin: 0;
  font-size: 15px;
  color: black;
  z-index: 100;
}

.Message__Content_Img {
  max-width: 300px;
  max-height: 200px;
}

.Message__Time {
  margin-top: 7px;
  color: #000;
  font-size: 11px;
  text-align: right;
}

.Message__Arrow {
  position: absolute;
  top: 50%;
  right: -7px;
  width: 14px;
  height: 14px;
  background-color: #bda;
  transform: translateY(-50%) rotate(45deg);
  z-index: 10;
}
